html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1;
  color: $default;
  @extend %Rubik-500;
  display: flex;
  flex-direction: column;  
  background-color: #fff;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--main {
    max-width: 1800px;   
    width: 100%;
  }
}

.sr-only,
.sr-form {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  outline: transparent;
}

.title {
  @extend %DMSans-700;
  color: #191919;
  font-size: 36px;
  text-align: center;
}

img {
  object-fit: cover;
}

.breadcrumbs {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    color: #737980;
    font-size: 14px;
    @extend %Rubik-500;
  }

  &__item {
    padding-right: 20px;
    position: relative;

    &::before {
      content: "/";
      position: absolute;
      right: 6px;
      top: 0;
    }

    &:last-child {
      color: $accent;

      &::before {
        display: none;
      }
    }
  }

}