html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1;
  color: $default;
  @extend %Rubik-500;
  display: flex;
  flex-direction: column;  
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-main {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}