// @mixin for-phone-only {
//   @media (max-width: 599px) {
//     @content;
//   }
// }

@mixin for-590-px {
  @media (max-width: 590px) {
    @content;
  }
}

@mixin for-790-px {
  @media (max-width: 790px) {
    @content;
  }
}

@mixin for-850-px {
  @media (max-width: 850px) {
    @content;
  }
}

@mixin for-1080-px {
  @media (max-width: 1080px) {
    @content;
  }
}

@mixin for-1200-px {
  @media (max-width: 1200px) {
    @content;
  }
}