@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-590-px {
  @media (max-width: 590px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-1080-px {
  @media (max-width: 1080px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}