$default: #436372;
$title: #243f4d;
$text: #7b7b7b;
$accent: #a3bbc8;





%DMSans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%DMSans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}



%Rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%Rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}