$default: #436372;
$title: #1a1a1a;


%DMSans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%DMSans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%Rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%Rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}