@import 'vars';
@import 'fonts';
@import 'normalize';
@import 'libs';
@import 'global';

.header {
  padding: 50px 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &__link {
    display: flex;
  }

  &__img {
    margin-right: 15px;
  }

  &__title {
    font-size: 36px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    font-size: 15px;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    transition: border-bottom .3s ease;
  }

  &__link:hover {
    border-bottom: 1px solid $default;
  }

}

.user-nav {
  display: flex;

  &__link-search,
  &__link-menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    text-align: center;
    position: relative;
    transition: background-color .3s ease;
  }

  &__link-search,
  &__link {
    margin-right: 20px;
  }

  &__link-search:hover,
  &__link-menu:hover {
    background-color: #fcd7b6;
  }

  &__link {
    display: flex;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    background-color: #fcd7b6;
    position: relative;
  }

  &__link::before {
    content: '';
    position: absolute;
    background-image: url('/images/icons/stick.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1px;
    height: 32px;
    top: 10px;
    right: 50%;
  }

  &__link-menu {
    background-color: #a3bbc8;
  }

  &__img {
    margin: 15px auto;
  }

  &__img-heart,
  &__img-cart {
    margin: 16px 40px;
  }

  &__link-cart,
  &__link-heart {
    position: relative;
    transition: background-color .3s ease;
  }

  &__link-heart:hover,
  &__link-cart:hover {
    background-color: #a3bbc8;
  }

  &__link-cart:hover {
    border-radius: 0 35% 35% 0;
  }

  &__link-heart:hover {
    border-radius: 35% 0 0 35%;
  }

  &__num {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    top: 8px;
    right: 25px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
  }
}

.footer-top {
  padding: 75px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;

  &__logo,
  &__title {
    margin-bottom: 25px;
  }

  &__title {
    @extend %DMSans-700;
    color: #1f2044;
    text-transform: uppercase;
    font-size: 16px;
  }

  &__list,
  &__item-text {
    @extend %Rubik-400;
    font-size: 14px;
    color: $text;
    line-height: 24px;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__item-text {
    max-width: 270px;
  }

  &__item-text:not(:last-child) {
    margin-bottom: 36px;
  }

  &__input {
    max-width: 170px;
    width: 100%;
    border: transparent;
    background-color: #fef7f0;
    padding: 15px;

    &::placeholder {
      @extend %DMSans-500;
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    border: transparent;
    color: #fff;
    background-color: #a3bbc8;
    padding: 17px 20px;
    margin-left: -4px;
    cursor: pointer;
    @extend %DMSans-500;
    font-size: 14px;
    transition: background-color .3s ease, color .3s ease;
  }

  &__btn:hover {
    background-color: #fcd7b6;
    color: $default;
  }
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 190px;

  &__item {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $text;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copy,
  &__item {
    @extend %Rubik-400;
    font-size: 14px;
    color: $text;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item {
    position: relative;
  }

  &__item::before {
    content: '|';
    position: absolute;
    right: -18px;
    font-size: 16px;
  }
}

.top-slider {
  background-color: #fcd7b6;
  padding: 220px 0 45px;
  position: relative;

  &__inner {
    z-index: 2;
  }

  &__items {
    display: flex;
    justify-content: space-around;
  }

  &__title {
    @extend %Rubik-500;
    font-size: 72px;
    color: #243f4d;
    text-transform: uppercase;
    max-width: 420px;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 380px;
    @extend %Rubik-400;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 50px;
  }

  &__link {
    padding: 25px 100px 25px 25px;
    background-color: #a3bbc8;
    color: #fff;
    @extend %Rubik-500;
    font-size: 15px;
    position: relative;
  }

  &__link::after {
    content: '';
    position: absolute;
    background-image: url('../images/arrow-btn-right.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 10px;
    left: 60px;
    top: 28px;
  }

  &__img {
    margin-top: 60px;
  }
}

.top-slider::after {
  content: '';
  position: absolute;
  background-image: url('../images/slider/elipse.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 635px;
  height: 635px;
  top: 100px;
  right: 80px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 200px;

  li {
    button {
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 50%;
      font-size: 10px;
      @extend %Rubik-500;
      color: #243f4d;
      background-color: #fde3cc;
      margin-right: 10px;
    }

    &.slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}

.features {
  padding: 50px 0;
  background-color: #fef7f0;

  &__inner {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    padding-left: 80px;    
  }

  &__item-support,
  &__item-delivery,
  &__item-payment {
    position: relative
  }

  &__item-support::before,
  &__item-delivery::before,
  &__item-payment::before {
    content: '';
    position: absolute;    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: -90px;
    width: 50px; 
    height: 50px;
  }

  &__item-support::before {
    background-image: url('../images/icons/support.svg');    
  }

  &__item-delivery::before {    
    background-image: url('../images/icons/delivery.svg');       
  }

  &__item-payment::before {  
    background-image: url('../images/icons/payment.svg');      
  }  

  &__title {
    font-size: 18px;
    @extend %DMSans-700;
    color: #414141;
    line-height: 2;
  }

  &__text {
    @extend %DMSans-500;
    font-size: 16px;
    color: #585858;
    max-width: 220px;
    line-height: 2;
  }
}









@import 'media';