@import 'vars';
@import 'fonts';
@import 'normalize';
@import 'libs';
@import 'global';
@import 'mixins';
@import 'components/header';
@import 'components/slider';
@import 'components/products';
@import 'components/design';
@import 'components/blog';
@import 'components/footer';
@import 'components/about/top';
@import 'components/about/main';
@import 'components/about/team';
@import 'components/product-list/product-list1';
@import 'components/blog-details/blog-details';