@import 'vars';
@import 'fonts';
@import 'normalize';
@import 'global';

.header {
  padding: 50px 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &__link {
    display: flex;
  }

  &__img {
    margin-right: 15px;
  }

  &__title {
    font-size: 36px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    font-size: 15px;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    transition: border-bottom .3s ease;
  }

  &__link:hover {
    border-bottom: 1px solid $default;
  }

}

.user-nav {
  display: flex;

  &__link-search,
  &__link-menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    text-align: center;
    position: relative;
    transition: background-color .3s ease;
  }

  &__link-search,
  &__link {
    margin-right: 20px;
  }

  &__link-search:hover,
  &__link-menu:hover {
    background-color: #fcd7b6;
  }

  &__link {
    display: flex;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    background-color: #fcd7b6;
    position: relative;
  }

  &__link::before {
    content: '';
    position: absolute;
    background-image: url('/images/icons/stick.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1px;
    height: 32px;
    top: 10px;
    right: 50%;
  }

  &__link-menu {
    background-color: #a3bbc8;
  }

  &__img {
    margin: 15px auto;
  }

  &__img-heart,
  &__img-cart {
    margin: 16px 40px;
  }

  &__link-cart,
  &__link-heart {
    position: relative;
    transition: background-color .3s ease;
  }

  &__link-heart:hover,
  &__link-cart:hover {
    background-color: #a3bbc8;
  }

  &__link-cart:hover {
    border-radius: 0 35% 35% 0;
  }

  &__link-heart:hover {
    border-radius: 35% 0 0 35%;
  }

  &__num {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    top: 8px;
    right: 25px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
  }
}

.footer-top {
  padding: 75px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;

  &__logo,
  &__title {
    margin-bottom: 25px;
  }

  &__title {
    @extend %DMSans-700;
    color: #1f2044;
    text-transform: uppercase;
    font-size: 16px;
  }

  &__list,
  &__item-text {
    @extend %Rubik-400;
    font-size: 14px;
    color: $text;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__item-text {
    max-width: 270px;
  }

  &__item-text:not(:last-child) {
    margin-bottom: 36px;
  }

  &__input {
    max-width: 170px;
    width: 100%;
    border: transparent;
    background-color: #fef7f0;
    padding: 15px;
    &::placeholder {
      @extend %DMSans-500;
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    border: transparent;
    color: #fff;
    background-color: #a3bbc8;
    padding: 17px 20px;
    margin-left: -4px;
    cursor: pointer;
    @extend %DMSans-500;
    font-size: 14px;
    transition: background-color .3s ease, color .3s ease;
  }

  &__btn:hover {
    background-color: #fcd7b6;
    color: $default;
  }
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 190px;

  &__item {
    @extend %Rubik-400;
    font-size: 14px;
    color: $text;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copy,
  &__item {
    @extend %Rubik-400;
    font-size: 14px;
    color: $text;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px; 
  }
  
  &__item {
    position: relative; 
  }

  &__item::before {
    content: '|';
    position: absolute;
    right: -18px;
    font-size: 16px;
  }
}





@import 'media';