@import 'vars';
@import 'fonts';
@import 'normalize';
@import 'libs';
@import 'global';
@import 'mixins';
@import 'components/header';
@import 'components/slider';
@import 'components/products';
@import 'components/design';
@import 'components/blog';
@import 'components/footer';
@import 'components/about/about-top';