.blog-one {
  padding: 120px 0 70px;

  @include for-850-px {
    padding: 70px 0;
  }

  .partners__inner {
    margin-top: 0;
    padding: 80px 0 80px;
  }

  .pagination {
    justify-content: start;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;

    @include for-850-px {
      padding-bottom: 70px;
    }

    .blog-details {
      &__filter {
        @include for-850-px {
          display: none;
        }
      }
      &__filter--active {
        position: absolute;
        right: 0;
        left: 0;
        background-color: $main;
        width: 100%;
        z-index: 2;
        @include for-850-px {
          display: block;
        }
      }
    }
  }

  &__btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url('../images/icons/filter.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    z-index: 3;

    @include for-850-px {
      display: block;
    }
  }

  &__list {
    margin-bottom: 75px;
  }

  &__item {
    max-width: 830px;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__wrapper {
    margin-bottom: 40px;
  }

  &__img {
    max-width: 830px;
    min-height: 500px;
    object-fit: cover;

    @include for-1200-px {
      max-width: 600px;
      min-height: 350px;
    }

    @include for-930-px {
      max-width: 500px;
      min-height: 286px;
    }

    @include for-850-px {
      max-width: 100%;
    }

  }

  &__title {
    font-size: 36px;
    @extend %Rubik-400;
    color: #333333;
    margin-bottom: 20px;

    @include for-1200-px {
      max-width: 600px;
    }

    @include for-930-px {
      max-width: 500px;
      font-size: 30px;
    }

    @include for-850-px {
      max-width: 100%;
    }
  }

  &__text {
    color: $title;
    line-height: 2;
    margin-bottom: 30px;
    @extend %Rubik-400;

    @include for-1200-px {
      max-width: 600px;
    }

    @include for-930-px {
      max-width: 500px;
      line-height: 1.4;
    }

    @include for-850-px {
      max-width: 100%;
    }
  }

  &__link {
    display: block;
    border: 1px solid $accent;
    background-color: #fff;
    color: $accent;
    max-width: 180px;
    padding: 21px 40px 21px 20px;
    font-size: 15px;
    @extend %DMSans-700;
    position: relative;
    transition: all .3s;

    @include for-1200-px {
      max-width: 140px;
      padding: 15px 10px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url('../images/icons/arrow-link.svg');
      right: 20px;
      top: 23px;

      @include for-1200-px {
        top: 18px;
      }
    }

    &:hover {
      background-color: $main;
    }
  }
}