.blog-one {
  padding: 120px 0 70px;

  .partners__inner {
    margin-top: 0;
    padding: 80px 0 80px;    
  }

  .pagination {
    justify-content: start;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
  }

  &__list {
    margin-bottom: 75px;
  }

  &__item {
    max-width: 830px;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

  }

  &__wrapper {
    margin-bottom: 40px;
  }

  &__img {
    max-width: 830px;
    min-height: 500px;
    object-fit: cover;
  }

  &__title {
    font-size: 36px;
    @extend %Rubik-400;
    color: #333333;
    margin-bottom: 20px;
  }

  &__text {
    color: $title;
    line-height: 2;
    margin-bottom: 30px;
    @extend %Rubik-400;
  }

  &__link {
    display: block;
    border: 1px solid $accent;
    background-color: #fff;
    color: $accent;
    max-width: 180px;
    padding: 21px 40px 21px 20px;
    font-size: 15px;
    @extend %DMSans-700;
    position: relative;
    transition: all .3s;

    &::before {
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url('../images/icons/arrow-link.svg');
      right: 20px;
      top: 23px;
    }

    &:hover {
      background-color: $main;
    }
  }
}