.modal {
  padding: 120px 0 70px;

  .partners__inner {
    margin-top: 0;
    padding: 80px 0 80px;
  }

  &__form {
    margin: 0 auto 35px;
    max-width: 470px;
  }

  &__label {
    color: $default;
    font-size: 14px;
    @extend %Rubik-400;
  }

  &__input {
    width: 100%;
    margin: 15px 0 30px;
    border: 2px solid #f6f6f6;
    min-height: 60px;
    outline: transparent;
    padding: 0 15px;
  }

  &__btn {
    width: 100%;
    min-height: 60px;
    color: #fff;
    background-color: $accent;
    margin-bottom: 35px;
    transition: all .3s;

    &:hover {
      background-color: $main;
      font-size: 20px;
    }
  }

  &__label-checkbox {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 2px solid #f6f6f6;
  }

  &__box {
    padding-left: 28px;
    position: relative;
  }

  &__checkbox {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    left: 0;
    position: absolute;
    &:checked + .modal__check {
      background-image: url('../images/icons/check.svg');
      background-repeat: no-repeat;
      background-size: cover;
      // width: 10px;
      // height: 10px;
    }
  }

  &__check {
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: #ebebeb;
    left: 0;
  }

  &__link-checkbox {
    border-bottom: 1px solid transparent;
    transition: all .3s;

    &:hover {
      border-color: $title;
    }
  }

  &__register {
    display: block;
    margin: 0 auto 120px;
    max-width: 470px;
  }

  &__text {
    display: block;
    text-align: center;
    color: $default;
    font-size: 14px;
    @extend %Rubik-400;
    margin-bottom: 20px;
  }

  &__link {
    display: block;
    border: 2px solid $accent;
    background-color: #fff;
    color: $title;
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
    transition: all .3s;

    &:hover {
      border-color: $main;
    }
  }
}