.contact {
  padding: 120px 0;

    @include for-1200-px {
      padding: 60px 0;
    }

  &__inner {
    margin-bottom: 120px;

    @include for-1200-px {
      margin-bottom: 60px;
    }
  }

  &__subtitle {
    text-align: center;
    @extend %DMSans-700;
    color: $accent;
    margin-bottom: 15px;
    display: block;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 35px;
    line-height: 1.6;
    color: $default;
    margin-bottom: 70px;
    text-align: center;

    @include for-930-px {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-850-px {
      flex-direction: column;
    }
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 370px;
    min-height: 380px;
    transition: all .3s ease-in;

    @include for-1200-px {
      max-width: 300px;
      min-height: 300px;
    }

    @include for-930-px {
      max-width: 280px;
    }

    @include for-850-px {
      max-width: 100%;
      min-height: 190px;
    }

    &:hover {
      border: 3px solid $accent;
    }
  }

  &__item-link {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    transition: all.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    @include for-930-px {
      margin-bottom: 15px;
    }

    &:hover {
      background-color: $accent;

      .contact__item-img {
        path {
          fill: #fff;
        }
      }
    }
  }

  &__item-img {
    path {
      fill: $accent;
    }
  }

  &__item-title {
    @extend %DMSans-700;
    font-size: 20px;
    color: #222222;
    margin-bottom: 25px;

    @include for-930-px {
      margin-bottom: 15px;
    }
  }

  &__links {
    @extend %Rubik-400;
    color: #565872;
    text-align: center;
  }

  &__links-text {
    margin-bottom: 15px;
    display: block;
  }

  &__links-link {
    border-bottom: transparent;
    transition: border-bottom .3s ease-in-out;

    &:hover {
      border-bottom: 1px solid #565872;
    }
  }

  &__links-link--address {
    width: 160px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-930-px {
      flex-direction: column;
    }
  }

  &__form {
    max-width: 620px;
    width: 100%;
    margin-right: 50px;

    @include for-930-px {
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__input {
    width: 300px;
    height: 50px;
    background-color: #fafafa;
    padding: 20px 50px 20px 20px;
    margin-bottom: 25px;
    color: $default;
    outline-color: $accent;
    border: none;

    @include for-1200-px {
      width: 100%;
    }

    &::placeholder {
      text-transform: uppercase;
      @extend %Rubik-400;
      color: #565872;
    }
  }

  &__label--name,
  &__label--mail,
  &__label--textarea {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 25px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__label--name {
    margin-right: 16px;

    &::before {
      width: 14px;
      height: 14px;
      top: 0;
      background-image: url('../images/icons/input-name.svg');
    }
  }

  &__label--mail::before {
    width: 19px;
    height: 13px;
    top: 2px;
    background-image: url('../images/icons/input-mail.svg');
  }

  &__label--textarea {
    width: 100%;
    display: block;
  }

  &__textarea {
    width: 100%;
    min-height: 175px;
    resize: none;
    background-color: #fafafa;
    padding: 20px 50px 20px 20px;
    color: $default;
    margin-bottom: 30px;
    outline-color: $accent;
    border: none;

    &::placeholder {
      text-transform: uppercase;
      @extend %Rubik-400;
      color: #565872;
    }
  }

  &__label--textarea::before {
    width: 20px;
    height: 16px;
    top: 15px;
    background-image: url('../images/icons/textarea.svg');
  }

  &__btn {
    color: #fff;
    background-color: $accent;
    padding: 10px 45px;
    border-radius: 4px;
    @extend %DMSans-700;
    font-size: 15px;
    line-height: 2;
    transition: all .3s ease-in;

    @include for-930-px {
      width: 100%;
    }

    &:hover {
      color: $accent;
      background-color: $main;
    }
  }

  &__map {
    max-width: 500px;
    min-height: 335px;

    @include for-930-px {
      order: -1;
      margin-bottom: 20px;
      min-width: 100%;
    }

    iframe {
      @include for-930-px {
        width: 100%;
        height: 435px;
      }

      @include for-930-px {
        width: 100%;
        height: 320px;
      }

      @include for-430-px {        
        height: 260px;
      }
    }
  }
}