.product {
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__filters {
    width: 270px;
    margin-right: 30px;
  }
}

.title {
  @extend %DMSans-700;
  color: $title;
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
  margin-bottom: 30px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    background-color: $accent;
    right: 115px;
    top: 6px;
  }
}

.filter-category {  
  margin-bottom: 75px;

  &__btn {
    padding: 10px 22px 10px 15px;    
    border-radius: 4px;
    color: #243f4d;
    line-height: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    transition: background-color .3s ease;
    &:hover {
      background-color: #edf1f4;
    }
  }
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single{
  display: none;
}

.irs--flat .irs-line {
  top: 25px;
  height: 3px;
  background-color: #c2d2db;
  border: none;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 4px;
  background-color: $accent;
}

.irs--flat .irs-handle {
  top: 19px;
  width: 15px;
  height: 15px;
  background-color: $accent;
  cursor: pointer;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs {
  margin-bottom: 22px;
}

.filter-price {
  margin-bottom: 80px;
  
  &__title {
    margin-bottom: 0;
  }

  &__label {
    display: flex;
    justify-content: space-between;
  }
}

