.product {
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__filters {
    width: 270px;
    margin-right: 30px;
  }
}

.filter__title {
  @extend %DMSans-700;
  color: $title;
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
  margin-bottom: 30px;
  padding-right: 50px;
  position: relative;
  max-width: 230px;

  &::before {
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    background-color: $accent;
    right: 115px;
    top: 6px;
  }
}

.filter-category {
  margin-bottom: 75px;

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-category__checkbox {
      background-color: #edf1f4;     
    }
  }

  &__checkbox {
    padding: 15px 25px 15px 16px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: $title;
  }
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-line {
  top: 25px;
  height: 3px;
  background-color: #c2d2db;
  border: none;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 4px;
  background-color: $accent;
}

.irs--flat .irs-handle {
  top: 19px;
  width: 15px;
  height: 15px;
  background-color: $accent;
  cursor: pointer;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs {
  margin-bottom: 22px;
}

.filter-price {
  margin-bottom: 80px;

  &__title {
    margin-bottom: 0;
  }

  &__label {
    display: flex;
    justify-content: space-between;
  }
}


.filter-brand {
  margin-bottom: 65px;

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-brand__checkbox {
      background-color: #edf1f4;

      .filter-brand__checkbox-sum {
        color: $title;
      }
    }
  }

  &__checkbox {
    padding: 15px 25px 15px 16px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: $title;
  }

  &__checkbox-sum {
    color: #b3b3b3;
  }
}

.filter-recent {
  &__title {
    margin-bottom: 40px;
  }

  &__list {}

  &__item {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border: 1px solid #f2f2f2;
    background-color: #fefefe;
    margin-right: 20px;
  }

  &__items {
    @extend %Rubik-400;
    color: #333333;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70px;
  }

  &__sum {
    font-size: 15px;
  }
}