.design {
  padding-bottom: 110px;

  &__title {
    margin-bottom: 25px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 35px;
    margin-bottom: 120px;
  }

  &__video {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
  }
}
