.products {
  padding: 75px 0 100px;

  @include for-590-px {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 35px;

    @include for-590-px {
      font-size: 30px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    margin-bottom: 120px;

    @include for-1080-px {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    @include for-850-px {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-590-px {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.products-item {
  max-width: 270px;

  @include for-590-px {
    max-width: 100%;
  }

  &.products-item--list {
    min-width: 100%;

    .products-item__img-box {
      min-height: 500px;
      width: 100%;
      display: flex;
      flex-direction: row;
      box-shadow: none;
      text-align: left;

      @include for-850-px {
        flex-direction: column;
        min-height: 630px;
      }
    }

    .products-item__images {
      min-width: 370px;
      min-height: 500px;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

      @include for-1200-px {
        min-width: 250px;
      }

      @include for-850-px {
        min-height: 300px;
      }
    }

    .products-item__img {
      width: 325px;
      height: 340px;

      @include for-1200-px {
        width: 250px;
        height: 240px;
      }
    }

    .products-item__link-box {
      display: none;
    }

    .products-item__content-box {
      display: block;
    }

    .products-item__wrapper-box {
      padding: 85px 60px 75px;

      @include for-1200-px {
        padding: 20px;
      }

      @include for-850-px {
        text-align: center;
      }
    }

    .products-item__box {
      display: flex;
      flex-direction: column;
    }

    .products-item__title {
      font-size: 40px;
      @extend %Rubik-400;
      color: #333333;

      @include for-1200-px {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 20px;
      }
    }

    .products-item__price {
      font-size: 30px;
      line-height: 1.5;
      color: #333333;
      @extend %Rubik-400;
      margin-bottom: 25px;
      order: 1;

      @include for-1200-px {
        font-size: 22px;
        margin-bottom: 15px;
      }
    }

    .products-item__text {
      @extend %Rubik-400;
      line-height: 2;
      color: $title;
      margin-bottom: 40px;

      @include for-1200-px {
        line-height: 1.4;
        margin-bottom: 15px;
      }
    }

    .products-item__btn {
      width: 50px;
      height: 50px;
      background-color: transparent;
      line-height: 0;
      transition: all .3s ease;

      &:hover {
        background-color: $accent;

        path {
          fill: #fff;
        }
      }
    }

    .products-item__star {
      display: block;
      margin-bottom: 30px;

       @include for-1200-px {
         margin-bottom: 15px;
       }

       @include for-850-px {
         margin: 0 auto 15px;
       }
    }
  }

  &__content-box {
    display: none;
  }

  &__star {
    display: none;
  }

  &__img-box {
    font-size: 16px;
    line-height: 2;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__images {
    max-width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    @include for-850-px {
      margin-bottom: 30px;
    }

    @include for-590-px {
      max-width: 100%;
    }
  }

  &__link-box {
    position: absolute;
    top: 150px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s ease;
  }

  &__link {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    transition: all .3s ease;

    path {
      fill: $accent;
    }

    &:hover {
      background-color: $accent;

      path {
        fill: #fff;
      }
    }
  }

  &__link:not(:last-child) {
    margin-right: 15px;
  }


  &__title {
    @extend %DMSans-500;
    color: $title;
    line-height: 2;
  }

  &__price {
    @extend %DMSans-700;
    color: $accent;
    display: block;
    margin-bottom: 35px;

    @include for-850-px {
      margin-bottom: 15px;
    }
  }

  &:hover {
    .products-item__link-box {
      opacity: 1;
    }
  }
}


.filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;

  @include for-590-px {
    margin-bottom: 20px;
  }

  &__list {
    @include for-590-px {
      margin-top: 15px;
    }
  }

  &__list:not(:last-child) {
    margin-right: 30px;
  }

  &__btn {
    @extend %DMSans-700;
    font-size: 16px;
    color: #8b8b8b;
    transition: color .3s ease;
  }

  &__btn:hover {
    color: #191919;
  }
}

.mixitup-control-active {
  color: #191919;
}

.lamp {

  &__inner {
    display: flex;

    @include for-1080-px {
      flex-wrap: wrap;
    }
  }

  &__items {
    background-color: #feefe2;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
    width: 100%;

    @include for-1080-px {
      padding-bottom: 10px;
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include for-1080-px {
        margin-right: 0;
        margin-bottom: 110px;
        padding-bottom: 10px;
      }

      @include for-850-px {
        margin-bottom: 70px;
      }
    }
  }

  &__images {
    margin-top: -85px;
    object-fit: cover;

    @include for-850-px {
      height: 200px;
      margin: -30px 30px 0 0;
    }

    @include for-590-px {
      margin-top: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $title;

    @include for-850-px {
      margin-top: 20px;
    }
  }

  &__title {
    @extend %DMSans-700;
    font-size: 26px;
    max-width: 270px;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 390px;
    @extend %Rubik-400;
    margin-bottom: 35px;
    line-height: 2;
  }

  &__link {
    max-width: 180px;
    padding: 25px 20px;
    border: 1px solid #b3b7b5;
    border-radius: 4px;
    @extend %Rubik-500;
    font-size: 15px;
    color: $default;
    position: relative;
    transition: all .3s ease-out;

    @include for-590-px {
      margin-right: 20px;
      padding-left: 10px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 22px;
      height: 10px;
      background-image: url('../images/arrow-link-right.svg');
      right: 20px;
      top: 28px;

      @include for-590-px {
        right: 10px;
      }
    }

    &:hover {
      background-color: $main;
      border-color: transparent;
    }
  }
}