.slider {

  &__inner {
    padding-top: 220px;
    z-index: 2;
    background-color: #fcd7b6;
    position: relative;

    @include for-850-px {
      padding-top: 100px;
    }

    @include for-590-px {
      padding-top: 50px;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/slider/elipse.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      max-width: 635px;
      min-height: 635px;
      top: 100px;
      right: 80px;
      width: 100%;

      @include for-1080-px {
        top: 155px;
        min-height: 460px;
      }

      @include for-590-px {
        top: 224px;
        min-height: 300px;
      }
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    padding: 0 30px;
  }

  &__content {
    @include for-1200-px {
      padding: 30px 0;
    }
  }

  &__title {
    @extend %Rubik-500;
    font-size: 72px;
    color: #243f4d;
    text-transform: uppercase;
    max-width: 420px;
    margin-bottom: 30px;

    @include for-1200-px {
      font-size: 60px;
    }

    @include for-1080-px {
      font-size: 50px;
    }

    @include for-590-px {
      font-size: 30px;
    }
  }

  &__text {
    max-width: 380px;
    @extend %Rubik-400;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 50px;
  }

  &__link {
    padding: 25px 100px 25px 25px;
    background-color: #a3bbc8;
    color: #fff;
    @extend %Rubik-500;
    font-size: 15px;
    position: relative;

    @include for-590-px {
      padding: 22px 55px 22px 25px;
    }
  }

  &__link::after {
    content: '';
    position: absolute;
    background-image: url('../images/arrow-btn-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 10px;
    left: 60px;
    top: 28px;
  }

  &__img {
    margin: 60px 0 80px;
    max-width: 640px;
    object-fit: contain;

    @include for-1080-px {
      max-width: 440px;
    }
  }
}



// .slick-slide img {

//   @include for-850-px {
//     display: none;
//   }
// }

.slick-dots {
  display: flex;
  justify-content: center;
  padding: 200px 0 45px;

  @include for-1080-px {
    padding: 80px 0 45px;
  }

  @include for-590-px {
    padding: 35px 0;
  }

  .slick-active {
    button {
      background-color: #fff;
    }
  }

  li:not(:last-child) {
    margin-right: 10px;
  }

  button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 10px;
    @extend %Rubik-500;
    color: #243f4d;
    background-color: #fde3cc;
  }
}

.features {
  padding: 50px 0;
  background-color: #fef7f0;

  @include for-590-px {
    padding-bottom: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-around;
    padding-left: 110px;

    @include for-850-px {
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    line-height: 2;


    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      left: -90px;
      width: 50px;
      height: 50px;

      @include for-1200-px {
        left: -60px;
      }
    }

    &--support::before {
      background-image: url('../images/icons/support.svg');
    }

    &--delivery::before {
      background-image: url('../images/icons/delivery.svg');
    }

    &--payment::before {
      background-image: url('../images/icons/payment.svg');
    }

    &:not(:last-child) {
      margin: 0 60px 50px 0;
    }
  }

  &__item--payment {
    @include for-1200-px {
      margin-right: 23px;
    }
  }

  &__title {
    font-size: 18px;
    @extend %DMSans-700;
    color: #414141;
  }

  &__text {
    @extend %DMSans-500;
    font-size: 16px;
    color: #585858;
    max-width: 220px;

    @include for-1200-px {
      max-width: 160px;
    }
  }
}