.top-slider {
  padding-top: 220px;
  position: relative;
  background-color: #fcd7b6;
  
  &__inner {
    z-index: 2;    
  }

  &__items {
    display: flex;
    justify-content: space-around;
  }

  &__title {
    @extend %Rubik-500;
    font-size: 72px;
    color: #243f4d;
    text-transform: uppercase;
    max-width: 420px;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 380px;
    @extend %Rubik-400;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 50px;
  }

  &__link {
    padding: 25px 100px 25px 25px;
    background-color: #a3bbc8;
    color: #fff;
    @extend %Rubik-500;
    font-size: 15px;
    position: relative;
  }

  &__link::after {
    content: '';
    position: absolute;
    background-image: url('../images/arrow-btn-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 10px;
    left: 60px;
    top: 28px;
  }

  &__img {
    margin-top: 60px;
  }
}

.top-slider::after {
  content: '';
  position: absolute;
  background-image: url('../images/slider/elipse.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 635px;
  min-height: 635px;
  top: 100px;
  right: 80px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 200px 0 45px;

  .slick-active {
    button {
      background-color: #fff;
    }
  }

  li:not(:last-child) {
    margin-right: 10px;
  }

  button {
    width: 30px;
    height: 30px;   
    border-radius: 50%;
    font-size: 10px;
    @extend %Rubik-500;
    color: #243f4d;
    background-color: #fde3cc;
  }
}

.features {
  padding: 50px 0;
  background-color: #fef7f0;

  &__inner {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    position: relative;
    line-height: 2;

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      left: -90px;
      width: 50px;
      height: 50px;
    }

    &--support::before {
      background-image: url('../images/icons/support.svg');
    }

    &--delivery::before {
      background-image: url('../images/icons/delivery.svg');
    }

    &--payment::before {
      background-image: url('../images/icons/payment.svg');
    }
  }

  &__title {
    font-size: 18px;
    @extend %DMSans-700;
    color: #414141;
  }

  &__text {
    @extend %DMSans-500;
    font-size: 16px;
    color: #585858;
    max-width: 220px;
  }
}
