.main {
  padding: 120px 0;

  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
  }

  &__image {
    max-width: 570px;
    min-height: 680px;
    object-fit: cover;
    margin-right: 50px;
  }

  &__item {
    display: flex;
    margin-bottom: 50px;
  }

  &__item-number {
    @extend %DMSans-700;
    font-size: 140px;
    color: $accent;
    margin-right: 30px;
  }

  &__item-years {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    color: $title;
    line-height: 1.8;
  }

  &__title {
    @extend %DMSans-700;
    color: $title;
    font-size: 36px;
    margin-bottom: 50px;
  }

  &__text {
    max-width: 550px;
    margin-bottom: 100px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      max-width: 500px;
      width: 100%;
      border-bottom: 1px solid #e6eaf0;
      bottom: -65px;
    }
  }
}

.description {
  display: flex;
  justify-content: center;

  &__items {
    display: flex;
    flex-direction: column;
    padding: 0 55px 0 60px;
    @extend %DMSans-700;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 40px;
      width: 100%;
      left: 0;
      top: 10px;
    }

    &:last-child {
      padding-right: 0;
    }

  }

  &__items-projects::before {
    background-image: url('../images/about/description-1.svg');
    max-width: 40px;
  }

  &__items-revenue::before {
    background-image: url('../images/about/description-2.svg');
    max-width: 45px;
  }

  &__items-awards::before {
    background-image: url('../images/about/description-3.svg');
    max-width: 42px;
  }

  &__items-projects::after,
  &__items-revenue::after {
    content: '';
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/about/description-4.svg');
    right: 25px;
    top: -2px;
    min-height: 80px;
    width: 2px;
  }

  &__number {
    $title: #243f4d;
    font-size: 36px;
    margin-bottom: 10px;
  }

  &__text {
    color: #4c4c4c;
  }
}

.main-delivery {
  padding: 85px 0;
  background-color: $main;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;    
    align-items: center; 
    @extend %DMSans-700;
    $title: #243f4d;
    font-size: 18px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/about/ellipse.svg');
      min-height: 35px;
      max-width: 35px;
      width: 100%;
      top: 30px;
      right: 40px;
    }
  }

  &__img {
    margin-bottom: 25px;
    z-index: 1;
  }

  &__img-delivery {
    margin-bottom: 25px;
    margin-top: 19px;
  }

  &__num {
    font-size: 36px;
    margin-bottom: 25px;
  }
}

  